<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Remote cardiac monitoring system</title>
  </head>
  <body>
    <h3>Ejs tamplate dashboard</h3>
    <h5><%= name %></h5>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      var socket = io();
      socket.on("data", (data)=>{
        console.log(data);
      });
    </script>
  </body>
</html>
